.footer {
  position: absolute;
  bottom: 0;
  margin: 24px 0;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
}

.footer > a {
  font-weight: bold;
  text-decoration: none;
  color: #a9a9a9;
}
